$white: #FFFFFF
$black: #1B1D1F

$second-primary: #F1F2F8
$second-primary-500: #3461FD
$second-primary-900: #21212F 

$secondary-500: #FFC27A

$gray-50: #E7E9EB
$gray-100: #CFD3D6
$gray-500: #6D737A
$gray-600: #52565C
$gray-700: #363A3D

$tertiary-500: #7534FF
$blue: #6176F7