@import './_colors'
@import './_fonts'
@import './_mixins'
@import './_indexes'
@import './_sizes'
@import './_animations'

*
  box-sizing: border-box
  scrollbar-width: none
  -ms-overflow-style: none

  &:before,
  &:after
    box-sizing: inherit

  &::-webkit-scrollbar
    display: none

body
  @include p2
  position: relative
  overflow: auto
  height: 100vh
  background-color: $white

h1, h2, h3, h4, h5, h6
  margin: 0

p
  margin: 0

ul, li
  list-style: none
  list-style-type: none
  padding: 0
  margin: 0

button
  border: none
  background-color: transparent
  cursor: pointer
  outline: none

a
  text-decoration: none
  color: inherit

input
  outline: none
  border: none

@import './_classes'
