$font-body-tiny: 12px
$lh-body-tiny: 16px

$font-body-regular: 16px
$lh-body-regular: 24px

$font-body-large: 18px
$lh-body-large: 26px

$font-heading: 36px
$lh-heading: 44px

$font-subheading: 24px
$lh-subheading: 32px

$p-section-regular: 60px

$py-main-regular: 60px

$header-height: 76px

/* Section sizes */
$section-y-offset: 48px
$section-y-offset-mobile: 24px

/* Offsets */
$offset-xxs: 12px
$offset-xs: 16px
$offset-s: 20px
$offset-m: 24px
$offset-l: 32px
$offset-xl: 48px
$offset-xxl: 56px

/* Radiuses */
$r-s: 5px
$r-m: 8px
$r-l: 16px

/* Breakpoints */
$small-mobile: 576px
$mobile: 768px
$tablet: 992px
